#what .boxes{
    display: block;
    padding: 1rem;
}

/* Aligh what */
#what .boxes .box{
    display: flex;
    text-align: left;
    
}

/* position */
#what .boxes .box i{
    margin-right: 1.3rem;
    align-self: center;
}

/* smartphone */

@media(max-width:500px){
    #navbar{
        flex-direction: column;
        align-items: center;
    }

    #navbar .logo{
        margin-bottom: 1rem;
    }

    #showcase .showcase-content{
        top:95px;
    }

    #who{
        display: block;
    }
    
    #who .img{
        display: none;
    }

    #contact{
        flex-direction: column;
    }

    #contact .map{
 
        height: 5000px;
        border-top: 4px solid #333;
    }
}