@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

p{
    margin:0.75rem 0;
}

/* utility classes */
.text-primary{
    color:#93cb52;
}

.btn{
    background: #93cb52;
    color: #fff;
    padding: 0.78rem;
    border-radius: 5px;
}

.btn:hover{
    background: #7ab436;
}
/* navbar */
#navbar{
    display: flex;
    justify-content: space-between;
    background: #444;
    color:#fff;
    position: sticky;
    z-index: 1;
    padding: 1.7rem;
}

#navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}
#navbar ul li a{
   color:#fff;
   padding: 0.75rem;
   margin:0 0.25rem;
}
#navbar ul li a:hover{
    background: #93cb52;
    border-radius: 5px;
}

/* showcase */

#showcase{
    background: url(/img/showcase.jpg);
    height: 100vh;
    color:#fff;
}

#showcase .showcase-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100%;

/*overly*/

    position: absolute;
    left:0;
    right:0;
    top:82px;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.4);
 
}

/* what section */

#what .box{

}