@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

p{
    margin:0.75rem 0;
}

/* utility classes */
.text-primary{
    color:#93cb52;

}

.m-heading{
    text-align: center;
    padding: 2rem;
}

.lead{
    padding:1rem;
}
.btn{
    background: #93cb52;
    color: #fff;
    padding: 0.78rem;
    border-radius: 5px;
}

.container{
    max-width: 1100px;
    margin: auto;
    padding:0 2rem;
    overflow: hidden;
}

.btn:hover{
    background: #7ab436;
}
/* navbar */
#navbar{
    display: flex;
    justify-content: space-between;
    background: #444;
    color:#fff;
    position: sticky;
    z-index: 1;
    padding: 1rem;
    top:0;
}

#navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}
#navbar ul li a{
   color:#fff;
   padding: 0.75rem;
   margin:0 0.25rem;
}
#navbar ul li a:hover{
    background: #93cb52;
    border-radius: 5px;
}

/* showcase */

#showcase{
    background: url(/img/showcase.jpg) no-repeat center center/cover;
    height: 100vh;
    color:#fff;
}

#showcase .showcase-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100%;

/*overly*/

    position: absolute;
    left:0;
    right:0;
    top:60px;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.4);
 
}

/* what section */

.boxes{
    display: flex;
    justify-content: center;
    text-align: center;
}

.fa-university{
    background-color: #93cb52;
    padding:  1.5rem;
    border-radius: 50%;
}

.fa-book-reader{
    background-color: #93cb52;
    padding:  1.5rem;
    border-radius: 50%;
}

.fa-pencil-alt{
    background-color: #93cb52;
    padding:  1.5rem;
    border-radius: 50%;
}

/* who section  */

#who{
    display: flex;
    
   
}

#who .imgs{
    background: url(/img/people.jpg) no-repeat center center/cover;
    }
#who div{
    flex: 1;
}

#who .text{
    background: #444;
    color: #fff;
    padding: 1rem;
}

#who .text .person{
    border-bottom: 1px dotted #333;  
}

/* contact */

#contact{
    display: flex;
}

#contact .contact-form,
#contact .map{
    flex:1;
}

#contact label{
    display: block;
    padding: 0.75rem 0;
}

#contact .contact-form{
    padding: 0.75rem;
    background: #7ab436;
}

#contact .contact-form input,
#contact .contact-form textarea{
    display: block;
    width: 100%;
    padding: 0.50rem;
    
}

#contact .contact-form .contact-btn{
    border: 1px solid #333;
    background: #333;
    color: #fff;
    display: block;
    text-align: center;
    border-radius: 5px;
    margin-top: 0.80rem;
    cursor: pointer;
}

#contact .contact-form .contact-btn:hover{
    background: #7ab436;
}